site: Swapnesh Samaiya
url: https://samaiya.in
title: Swapnesh Samaiya
type: Personal website
description: Game Designer & Researcher
# image:
#   path: /assets/images/about_1.jpg
twitter:
  username: banbutterjam
  card: summary_large_image
  creator: Swapnesh Samaiya
author: 
  twitter: banbutterjam
  name: Swapnesh Samaiya
  avatar: /assets/images/about_1.jpg
  email: samaiya.swapnesh@gmail.com
  url: https://samaiya.in

social:
  name: 
  links:
    - https://twitter.com/banbutterjam
    - https://www.facebook.com/swapnesh.samaiya/
    - https://bunbutterjam.tumblr.com/
    - https://github.com/bunbutterjam

permalink: pretty



baseurl: ""
highlighter: rouge




exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir: _sass
  style: :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  
  - jekyll-feed

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug  
  projects:
    output: true
    permalink: /projects/:name

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

      



