<div class="footer-container">

    <div class="footer-text">
        <!-- <h3 class="footer-text">&copy;<script>document.write(new Date().getFullYear())</script> {{site.title}}</h3> -->
        <h3 class="footer-text">all play means something</h3>

    </div>

    <div>
        <ul class="footer-icons">

            <li><a href="https://twitter.com/banbutterjam" target="_blank"> twitter
                </a></li>
            
            <li><a href="mailto:samaiya.swapnesh@gmail.com"> mail
                </a></li>
                <li><a href="https://lichess.org/@/ludicious" target="_blank">
                    chess
                </a></li>
            <li><a href="{{site.baseurl}}/search"> search
                </a></li>

        </ul>
    </div>
</div>