<div class="footer-container">

    <div class="footer-text">
        <!-- <h3 class="footer-text">&copy;<script>document.write(new Date().getFullYear())</script> {{site.title}}</h3> -->
        <h3 class="footer-text">All play means something</h3>

    </div>

    <div>
        <ul class="footer-icons">

            <li><a href="mailto:samaiya.swapnesh@gmail.com"> Email</a></li>
            <li><a rel="nofollow" href="https://twitter.com/banbutterjam" target="_blank"> Twitter</a></li>
            <li><a rel="nofollow" href="https://lichess.org/@/ludicious" target="_blank">Chess</a></li>
            <li><a href="{{site.baseurl}}/search"> Search</a></li>

        </ul>
    </div>
</div>