<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="footer-container">

    <div class="footer-text">
        <h3 class="footer-text"> &copy; 2020 {{site.title}} </h3>
    </div>

    <div>
        <ul class="footer-icons">
        
            <li><a href="https://twitter.com/banbutterjam" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true" ></i>
                </a></li>
            <li><a href="mailto:samaiya.swapnesh@gmail.com">
                     <i class="fa fa-envelope mailto"></i>
                </a></li>
            <li><a href="{{site.baseurl}}/search">
                    <i class="fa fa-search search" aria-hidden="true"></i>
                </a></li>
            <!-- <li><a href="https://lichess.org/@/ludicious" target="_blank" style="text-decoration: none; font-size: 20px;">
                &#9822;
                </a></li> -->
        </ul>
     </div>
</div>