
<div class="head-container">

    <div class="head-title">

        <a href="{{site.url}}">
            <h3 class="head-title"> {{site.title}} </h3>
        </a>
    </div>

    <div class="head-navigation">
        <nav role="navigation">
            <ul>
               {% for item in site.data.navigation.links %}
               <a href="{{site.baseurl}}{{ item.url }}" {% if item.url == page.url %} class="active" 
                     {% endif %} class="nav-hover">{{ item.title }}</a> &nbsp;&nbsp;
               {% endfor %}
               <a href="https://bunbutterjam.tumblr.com/" target="_blank">Play</a>
            </ul>
         </nav>
    </div>

 

</div>