<!-- 1. https://pawelgrzybek.github.io/siema/
2. https://swiperjs.com/get-started/ -->


<div class="siema">

  {% for item in page.slider %}

  <div>
    
    <a href="{{item.url}}"><img src="{{item.url}}" alt="{{page.description}}"></a>
  
  </div>

  {% endfor %}

</div>

<div class="slider-nav">
  <!-- <a href="#" class="prev">&#x2190;</a>
  <a href="#" class="next">&#x2192;</a> -->

  <button class="prev">&#10229; prev</button>
  <button class="next">next &#10230;</button>
</div>



<script src="/assets/js/slider.js"></script>
<script>
  const mySiema = new Siema();
  const prev = document.querySelector('.prev');
  const next = document.querySelector('.next');

  prev.addEventListener('click', () => mySiema.prev());
  next.addEventListener('click', () => mySiema.next());


  // new Siema({ duration: 200});
</script>

<style>
  .siema {
    margin: 0rem;
  }

  .slider-nav {

    display: flex;
    justify-content: space-between;
  
  }

  .prev,
  .next {

    padding: 3px;
    margin: 0em;
    border: none;
    font-size: 16px;
    /* background: rgb(230, 230, 230); */
  }

  .prev:hover,
  .next:hover {

    background: rgb(230, 230, 230);

  }

  /* .prev, .next {
  display: flex;
  justify-content: space-between;
  max-width: 25px;

} */
</style>