
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;

*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

// HEADER

.head-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
	margin: auto;
	margin-top: 16px;
	height: 50px;
	// margin: 60px;
	// margin: 0px 60px 10px 60px;
	// padding: 16px;
	// overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: space-between;
	// background: lightblue;
}

.head-title {
	float: left;
	font-size: 18px;
	text-decoration: none;
	// background: lightgreen;
	// opacity: 0.6;
	margin: 0px;
	// text-transform: lowercase;
}

.head-title:hover {
	font-weight: bold
	// font-size: larger;
	// background: black;
}

nav ul li {
	display: inline;
}

// FOOTER 

.footer-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
	margin: auto;
	margin-bottom: 16px;
	// width: 100%
	height: 40px;
	// margin: 60px;
	// margin: 0px 60px 10px 60px;
	// padding: 16px;
	overflow: hidden;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: space-between;
	// background: lightblue;
}

.footer-text {
	float: left;
	font-size: 14px;
	text-decoration: none;
	font-weight: 400;
	color: gray;
	// background: red;
	// opacity: 0.6;
	margin: 0px;
}

.footer-text:hover {
	background: black;
}

.footer-icons {
	float: right;
	margin: 0px;
	padding-right: 0rem;
	list-style-type: none;
	// background: yellow;
}

.footer-icons li {
	float: left;
	padding-left: 12px;
	opacity: .5;
	font-size: 16px;
	// background: red;
	// align-items: center;
}

.footer-icons li:hover {
	opacity: 1;
}

// PROJECTS 

:root {
	--radius: 5px;
	--padding: 10px;
}


.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 2rem;
}

.project-list {
	align-items: center;
	//   background: red;
	text-align: left;
	padding-bottom: var(--padding);
}

.project-list:hover {
	// transform: scale(1.02);
	color: black;
	font-weight: 500;
	.project-image {
		opacity: 0.8;
	}
	.project-title:hover {
		text-decoration: underline;
	}
}


.project-title {
	font-size: 18px;
	// padding: var(--padding) 0px;
}

.project-description {
	font-size: 16px;
	font-weight: normal;
	// padding-bottom: var(--padding);
	color: rgba(68, 68, 68, 0.9);
	// color: rgba(0, 0, 0, 0.342);
}

body {
	font-family: system-ui, sans-serif;
	// font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: 16px;
	// color: rgb(22, 23, 26);
	background: rgb(252, 252, 252);
}

main {
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	// background:lightgray;
	position: relative;
	// font-family: 'Open Sans', sans-serif;
}

// NAVIGATION 

header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
	display: flex;
	margin: 0rem;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	// text-align: right;
	margin-right: 2rem;
	font-size: 1rem;
}

header li:hover {
	text-decoration: underline;
}

nav a.active {
	font-weight: bold;
}

//BODY 

a {
	color: #000;
	// text-decoration-skip-ink: auto;
	text-decoration: none;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	margin: .5rem 0;
}

.post h1,
.post h2,
.post h3,
.post h4 {
	margin: 1rem 0;
}

.post h2:first-child,
.project h2:first-child,
.photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 2rem 0;
}

code,
pre {
	background: rgb(236, 237, 238);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width: 100%;
}

hr {
	background: #000;
	height: 1px;
	border: 0;
}
// header,section {
// 	padding:1rem;
// }
blockquote {
	font-style: italic;
	border-left: 5px solid #ececec;
	padding-left: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

section h1:first-child {
	margin-top: 0;
}

strong,
b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
	margin-bottom: 0.5rem;
}

.posts ul,
header ul {
	list-style: none;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	// margin: 0rem;
	margin-bottom: 0.5rem;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.514);
}

.post h2{
	color: black;
}

.post {
	font-size: 18px;
	color: rgb(66, 66, 66);
}

.posts li a:hover {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}


.posts li a,
.posts li div,
.projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}

.posts li time,
.projects li time {
	// padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul,
.project ul,
.post ol {
	list-style: none;
}

section {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 70%;
	display: flex;
	flex-direction: column;
}

.post-tag {
	text-decoration: underline;
}

.post-back {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

figcaption {
	font-size: smaller;
}

@media screen and (max-width: 906px) {
	header li {
		display: inline-flex;
		margin-right: 1rem;
	}
	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		// border-bottom: thin solid rgba(0, 0, 0, 0.192);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}
	nav ul {
		border-right: 0px;
	}
	.photos ul {
		margin-top: 0.5rem;
	}

main {
	max-width: 90%;
}
.head-container {
	max-width: 90%;
}
.footer-container {
	max-width: 90%;
}
}

@media screen and (max-width: 370px) {
	.head-container {
		height: auto;
	}
	.head-title {
		margin-bottom: 10px;
	}
	.footer-container {
		height: auto;
	}
	.footer-text {
		margin-top: 6px;
	}
	.footer-icons {
		margin-top: 6px;
		float: left;
	}
	.head-container {
		max-width: 90%;
		border: none;
	}
}
