---
layout: default
---
<link rel="stylesheet" href="/assets/css/lightbox.css">
<script src="/assets/js/lightbox.js"></script>

<section class="post">
  <h2>{{ page.title}}</h2>
  <!-- <p>{{page.description}}</p> -->

  {{ content }}

  <br>
 
  <span>
   {% for tag in page.tags %}
  <a href="/tag/{{tag}}" class="post-tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  <br><br><br>
  <a href="{{site.baseurl}}/projects" class="post-back"> &#x2190; Go back to projects</a> </span>

 
</section>

<footer> </footer>